@import '~bootstrap/scss/bootstrap';

.color_main {
    background-color: beige;
}

.color_card {
    background-color: rgb(251, 251, 226);
    box-shadow: 5px 2px 5px 5px rgba(0, 0, 0, 0.17), 0 2px 5px 0 rgba(0, 0, 0, 0.055);
    border-radius: 15px;

    img {
        border-radius: 25px;
        padding: 10px;
    }
}

.btn-size {
    width: 30px;
    height: 30px;
}